.carousel-wrapper {

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 


  }
  
  .carousel-wrapper .slide {
    position: relative;
    width: 100vw; 
    height: 100vh;
    overflow: hidden;
     
  }
  
  .carousel-wrapper .slide img {
    width: 100vw;
    height: 100vh;

  }
  .carousel-heading {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: rgba(1, 4, 14, 0.7); 
    padding: 3px 20px; 
    border-radius: 10px;
  }
 