.carousel-wrapper {

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
        position: relative; 
  } 

  .carousel-wrapper .slide {
    position: relative;
    width: 100vw; 
    height: 100vh;
    overflow: hidden;
     
  }
 
  .carousel-wrapper .slide img {
    width: 100vw;
    height: 100vh;
object-fit: content;
  }
  
  .carousel-heading {
    position: absolute;
    top: 95.7%;
    left: 10%;
    transform: translate(-50%, -50%);
    z-index: 10;
    color: rgb(255, 255, 255);
    /* text-align: center; */
    background-color: rgb(220, 20, 60); 
    padding:3px 10px; 
    border-radius: 5px;
  }
 


  

   